################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DummyAccesMCP/CopilotIndices/18.3.511.5503
